/***************************************************************
main.styl
***************************************************************/

//font variables
font-primary = 'Helvetica Neue' 'Arial' sans-serif

//layout

//colors
font-color = #fff
font-color-inverse = #333
font-color-pale = #bbb


//imports
@import 'vendor/normalize.css'
@import 'vendor/font-icons.css'
@import 'components/typography.styl'
@import 'components/page.styl'
@import 'components/header.styl'
@import 'components/sidebar.styl'
@import 'components/content.styl'
@import 'components/newsline.styl'
@import 'components/calendar-button.styl'
@import 'components/event.styl'


//EXERCISES
h1
  margin-top 90px
  
#exercises
  text-align center
  margin-bottom 200px
textarea
  width 500px
  height 100px
#table
  border 1px solid black
  width 400px
  margin 0 auto
  & span
    display inline-block
    width 40px
    height 40px
    border 1px solid black
    line-height 40px
    text-align center
    box-sizing border-box
#bacon
  margin 0 auto
  width 300px
  height 200px
  background-image url('http://placebacon.net/600/400')
  background-size 100%
  background-position center
  transition background-size .5s ease
  &:hover
    background-size 120%
.thumbnail
  margin 0 auto
  width 800px
  height 500px
  background-size cover
  position relative
  &__title
    position absolute
    left 0
    bottom 0
    width 800px
    height 50px
    background rgba(0,0,0,.5)
    color white
    font 30px/50px font-primary
    text-indent 20px
    