/***************************************************************
components/calendar-button.styl
***************************************************************/

.b-calendar-button
  display block
  color #335577
  width 340px
  height 39px
  background 340px 39px url('../img/calendar-button.png')
  font 20px/39px font-primary
  text-align center
  text-decoration none
  margin-top 10px
  cursor pointer
  &:hover
    opacity .7