/***************************************************************
components/content.styl
***************************************************************/

.b-content
  display inline-block
  vertical-align top
  width calc(100% - 570px)
  position relative