/***************************************************************
components/event.styl
***************************************************************/

.b-event
  padding-top 17px
  border 1px solid #ddd
  position relative
  margin-top 10px
  width 340px
  &__dates
    position absolute
    top 0
    right 0
    color #335577
    background-color #eef5ff
    font 13px/17px font-primary
    padding 0px 5px
  &__title
    color #335577
    font 14px/19px font-primary
    margin 6px 0
    padding-left 10px
  &__bottom-row
    height 17px
    background-color #eee
    font 12px/17px font-primary
    color font-color-inverse
    padding-left 6px
    position relative
    &__remaining
      position absolute
      top 0
      right 6px
      color #428bd0
      font-weight bold