/***************************************************************
components/page.styl
***************************************************************/

color-header-bg = #737373
header-height = 70px

.b-header
  width 100%
  height 70px
  background color-header-bg
  &__logo
    font 49px/header-height font-primary
    color font-color
    padding-left 12px
    width 200px
    display inline-block
    background linear-gradient(to right, rgba(64,64,64,1) 0%,rgba(64,64,64,1) 1%,rgba(64,64,64,0.87) 31%,rgba(64,64,64,0.51) 77%,rgba(64,64,64,0) 100%)
  &__menu
    position absolute
    right 0
    top 0
    height header-height
    text-align right
    cursor pointer
    &__item
      font 19px/header-height font-primary
      color font-color-pale
      font-weight 500
      padding 0 15px
      text-decoration none
      display inline-block
      &--active, &:hover
        background-color #080808
        color font-color
