/***************************************************************
components/newsline.styl
***************************************************************/

color-header-bg = #737373
header-height = 70px

.b-newsline
  height 106px
  margin 10px 10px 0 10px
  padding 3px
  padding-left 118px
  border 1px dashed #dddddd
  position relative
  &__image
    display block
    position absolute
    top 3px
    left 3px
    background #ccc
    width 100px
    height 100px
    word-wrap break-word
    padding 3px
    font-size 12px
    color white
  &__title
    color #3366aa
    font-weight 500
    margin-bottom 3px
    font-size 18px
    max-width 70%
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
  &__date
    color #335577
    font 16px/18px 'Georgia', 'Times', serif
    position absolute
    display block
    right 17px
    top 3px
  &__description
    color font-color-inverse
    font 16px/18px 'Georgia', 'Times', serif
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 3
    -webkit-box-orient vertical
    max-height 18*3px
  &__more
    color #335577
    display block
    position absolute
    bottom 8px
    right 17px
    &:after
      content ' »'
