/***************************************************************
components/page.styl
***************************************************************/

.b-page
  width 100%
  heigth 100%
  min-width 1000px
  position relative
  overflow hidden