/***************************************************************
components/sidebar.styl
***************************************************************/

.b-sidebar
  display inline-block
  vertical-align top
  &--left
    width 220px
  &--right
    width 350px
  &__subscribe
    background 180px 32px url('../img/subscribe.png')
    width 180px
    height 32px
    color #555
    font 14px/32px font-primary
    text-indent 52px
    cursor pointer
    margin 10px 20px 
    &:hover
      opacity .7
  &__item
    color #555555
    font 16px/30px font-primary
    display block
    text-decoration none
    font-weight 500
    margin-left 5px
    padding-left 11px
    margin-top 15px
    box-sizing border-box
    &--active
      font-weight 600
      background #aaa
      color font-color
      border-radius 6px
      box-shadow: inset 4px 4px 10px rgba(0,0,0,0.6);
    &:hover
      opacity .7
    & + &
      margin-top 5px
    width 205px
    height 28px
  &__input
    width 182px
    hegiht 26px
    overflow visible
    margin 8px 10px
    position relative
    cursor pointer
    & input
      width inherit
      height inherit
      font 14px/24px font-primary
      border none
      box-sizing border-box
      border 1px solid #ababab
    &:after
      content ' '
      display block
      font normal normal normal 14px/1 FontAwesome;
      font-size inherit
      text-rendering auto
      font-smoothing antialiased
      width 16px
      height 15px
      position absolute
      right -22px
      top 1px
    &--search:after
      content '\f002'
      color #335577
      font-size 19px
    &--calendar
      & input
        border 1px solid #e1e1e1
      &:after
        background 16px 15px url('../img/calendar.png')
  &__label
    position relative
    width 216px
    height 25px
    font 24px/25px font-primary
    background #335577
    color font-color
    text-align center
    font-weight 500
    overflow visible
    margin 5px 0
    &:before, &:after
      content ''
      width 4px
      height 4px
      display block
      position absolute
      right -4px
      background inherit
    &:before
      top 7px
    &:after
      top 15px
  &__item + &__label
    margin-top 15px
      