/***************************************************************
components/typography.styl
***************************************************************/

body, html
  -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
  font-family 'CG', 'Helvetica', sans-serif
  font-weight normal