doctype html
html(lang="ru")
    head
        title Тестовое задание
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="HandheldFriendly" content="true")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="format-detection" content="telephone=no")
        link(href="../../client/css/main.css",  type="text/css", rel="stylesheet")
        script(src="../../client/js/dme-exercises.js")
    body
        #exercises
            h1 Задание 1
            textarea(placeholder="XML код...")
                | <applicant>
                |       <firstname>Boris</firstname>
                |       <lastname>Chumichev</lastname>
                | </applicant>
            h3 JSON:
            pre.json
            h1 Задание 2
            div#table
            h1 Задание 3
            div#bacon
            h1 Задание 4
            .thumbnail
                .thumbnail__title
            h1 Задание 5
            form
                input(type="number")
                input(type="number")
                h4.output